[user]
	name = smashawk
	email = daichismash@gmail.com
[ghq]
	root = ~/git
[core]
	excludesfile = ~/.gitignore_global
[fetch]
	prune = true
[alias]
    delete-merged-branch = !git branch --merged | egrep -v '\\*|master|develop' | xargs git branch -d
[rebase]
	autostash = true
	abbreviateCommands = true
	autosqaush = true
[grep]
	lineNumber = true
